main {
  --main-width: 760px;
}

/* fix scroll bar background */
::-webkit-scrollbar{ background: var(--theme); }


/* top left text not so big */
.logo a {
    font-size: 20px;
    font-weight: normal;
}


/* big home text not bold by default */
.home-info .entry-header h1 {
  font-weight: normal;
}


/* figure */
.post-content figure {
    border: 3px var(--content) solid;
    border-radius: 11px;
    padding: 6px;
}

.post-content figure img {
    margin: 0;
}

.post-content figure figcaption {
    margin: 0;
    padding: 0;
}

.post-content figure figcaption p {
    margin: 0;
    padding: 0;
}


/* code block: light background */
:root {
    --hljs-bg: var(--code-bg);
}

.post-content pre code {
    color: var(--content);
}

.post-content table tbody tr td {
    vertical-align: top;
}

/* fix definition lists */
.post-content dl {
    margin-bottom: 20px;
}

/* extract */
blockquote.extract {
    font-size: 14px;
}

/* tweet shortcode */
.post-content blockquote.twitter-tweet {
    font-size: smaller;
    margin-left: 60px;
    margin-right: 60px;
}