<img src="{{ .Get "src" }}"
{{- with .Get "class" }}class="{{ .}}"{{ end -}}
{{- with .Get "alt" }}alt="{{ .}}"{{ end -}}
{{- with .Get "width" }}width="{{ . }}"{{ end -}}
{{- with .Get "height" }}height="{{ . }}"{{ end -}}
{{- with .Get "title" }}title="{{ . }}"{{ end -}}
{{- if eq (.Get "align") "right" }}style="display:block;margin-left:auto"
  {{- else if eq (.Get "align") "left" }}style="display:block;margin-right:auto"
  {{- else }}style="display:block;margin-left:auto;margin-right:auto"
  {{- end -}}
/>